n8n-job-scraper-workflow_zh.json
{
  "name": "🤖 每日求职自动化 - LinkedIn + DeepSeek + Notion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      },
      "id": "bf2aaf2e-6aec-495b-83d1-f547b5c496f6",
      "name": "⏰ 每日定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -111440,
        -4384
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "ee0462c8-145f-4a1d-91e9-57719962ddf7",
      "name": "📄 提取 PDF 文本",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -111008,
        -4384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract from File 输出文本在 $json.text 中\n// 不做复杂解析，直接输出纯文本作为 CV 信息\nconst rawText = $json.text || $json.data || '';\nif (!rawText) return [{ cvText: 'CV 读取失败，请确认 cv/CV.pdf 文件存在且可读' }];\n\n// 简单清理：去多余空白、截断过长的文本\nconst cleanText = rawText.replace(/\\s+/g, ' ').trim();\nconst maxLen = 30000;\nconst cvText = cleanText.length > maxLen ? cleanText.substring(0, maxLen) + '...' : cleanText;\n\nreturn [{ cvText: cvText }];"
      },
      "id": "895626f6-538f-464b-885d-8ca902358e2a",
      "name": "📄 结构化 CV 文本",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -110784,
        -4384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2105c2c1-0927-499b-a62e-806e3086a61d",
              "name": "keywords",
              "value": "QA Engineer OR Test Automation OR Testingenieur OR Quality Engineer OR HiL OR CI/CD OR Embedded OR DevOps OR Software Test",
              "type": "string"
            },
            {
              "id": "46d90fd1-c5f9-4baa-a41c-c80ee2c3b892",
              "name": "location",
              "value": "Munich, Germany",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "28a1f042-9cd1-4baa-89ed-5caf5d7e7c2b",
      "name": "🔍 搜索参数配置",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -110560,
        -4384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3456",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 180000
        }
      },
      "id": "fedaddb8-73ae-4210-9325-96fee94ed044",
      "name": "🌐 抓取 LinkedIn 岗位",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -110336,
        -4384
      ]
    },
    {
      "parameters": {
        "jsCode": "// HTTP 响应：{ count: N, jobs: [...] }\nconst data = typeof $json === 'string' ? JSON.parse($json) : $json;\nconst jobs = data?.jobs || data || [];\n\nif (!Array.isArray(jobs) || jobs.length === 0) return [];\n\n// 过滤掉实习/学生岗位\nconst BAN = [/student/i, /intern/i, /werkstudent/i, /praktikant/i, /thesis/i, /masterarbeit/i, /bachelorarbeit/i];\nconst seen = new Set();\nconst result = [];\nfor (const j of jobs) {\n  const hay = ((j.title||'') + ' ' + (j.company||'')).toLowerCase();\n  if (BAN.some(re => re.test(hay))) continue;\n  const key = (j.title||'') + '|' + (j.company||'');\n  if (seen.has(key)) continue;\n  seen.add(key);\n  result.push({\n    jobId: j.jobId || '',\n    title: j.title || '',\n    company: j.company || '',\n    location: j.location || '',\n    link: j.fullLink || '',\n    description: j.description || '',\n    postedTime: j.postedTime || new Date().toISOString(),\n    fullLink: j.fullLink || `https://www.linkedin.com/jobs/view/${j.jobId}/`\n  });\n}\nreturn [{ jobs: result }];"
      },
      "id": "30b25845-6bbf-4c7f-b773-9313eec5cd93",
      "name": "📋 解析岗位列表",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -110128,
        -4384
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "jobs",
        "options": {}
      },
      "id": "3235d128-3bc5-481b-90f1-3d80060acb03",
      "name": "✂️ 拆分岗位条目",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -109904,
        -4384
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c7335f4f-e15b-43d8-bf29-16ed8c57d58b",
      "name": "🔄 逐岗位处理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -109680,
        -4384
      ]
    },
    {
      "parameters": {
        "jsCode": "const cvContext = $node['📄 结构化 CV 文本'].json.cvText || '';\nconst job = $json;\nconst jt = (job.title || '').replace(/\"/g,'');\nconst co = (job.company || '').replace(/\"/g,'');\nconst lk = (job.link || job.fullLink || '').replace(/\"/g,'');\nconst lo = (job.location || '').replace(/\"/g,'');\nconst desc = (job.description || job.title || '').replace(/\"/g,'');\nconst pt = (job.postedTime || '').replace(/\"/g,'');\nconst ji = (job.jobId || '').replace(/\"/g,'');\n\nconst meta = JSON.stringify({title:jt,company:co,link:lk,location:lo,postedTime:pt,jobId:ji});\n\nconst prompt = `你是一个专业的招聘匹配顾问。请根据候选人的CV和岗位信息评估匹配度。\n\n## 原始数据（请原样返回）\n__META__${meta}__META_END__\n\n${cvContext}\n\n### 岗位信息\n**职位**: ${jt}\n**公司**: ${co}\n**地点**: ${lo || '慕尼黑/巴伐利亚'}\n**描述**: ${desc || jt}\n\n### 评分标准\n\n| 维度 | 分值范围 | 评分指引 |\n|------|---------|---------|\n| background_match | 0-10 | 领域/行业匹配度：10=岗位行业与候选人CV专业领域完全吻合；6-9=相关或可转移领域；0=完全不相关 |\n| skills_overlap | 0-25 | 技能重叠度：对比CV和岗位描述中的技术栈、工具、方法论。匹配项越多、深度越深分数越高 |\n| experience_relevance | 0-25 | 经验相关性：候选人的项目/工作经历是否与岗位职责和要求匹配。考虑相关性和经验深度 |\n| seniority | 0-10 | 资历匹配：10=完美匹配当前经验层级；5=中等；0=完全不匹配 |\n| language_requirement | 0-10 | 语言要求：10=岗位接受候选人的语言能力（德语C1+英语C1）；5=部分匹配；0=不匹配 |\n| location_match | 0-10 | 地点匹配：10=慕尼黑或周边30km；8=巴伐利亚州/Hybrid；5=德国其他/Remote；0=国外 |\n\n总分 overall = background_match + skills_overlap + experience_relevance + seniority + language_requirement + location_match\n- Automotive 行业: background_match 扣 5 分\n- Defense/Aerospace/国防 行业: background_match 扣 10 分（国籍限制）\n\n### 推荐分类\n- overall >= 75 → \"高度符合\"\n- overall >= 60 → \"可以尝试\"\n- overall < 60 → \"不适合\"\n\n### 输出格式（严格JSON，不要额外内容）\n{\n  \"score\": { \"overall\": 82, \"background_match\": 8, \"skills_overlap\": 20, \"experience_relevance\": 22, \"seniority\": 8, \"language_requirement\": 8, \"location_match\": 10 },\n  \"recommendation\": \"高度符合\",\n  \"industry\": \"Automotive\",\n  \"reason\": \"简短匹配理由\",\n  \"_meta\": ${meta}\n}`;\n\nreturn [{ prompt: prompt }];"
      },
      "id": "7b21a994-a923-4aca-88aa-f7d97928458c",
      "name": "✍️ 准备打分 Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -109456,
        -4384
      ]
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "你是一个招聘匹配专家。严格按照要求的 JSON 格式输出，只输出 JSON，不要任何额外内容。"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "={{ $json.prompt }}"
            }
          ]
        }
      },
      "id": "b737ccfb-1b86-49c8-aceb-3a3c1cc751cc",
      "name": "🧠 LLM Chain - 匹配打分",
      "type": "n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        -109248,
        -4384
      ]
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {
          "maxTokens": 3000,
          "temperature": 0.3
        }
      },
      "id": "f062a2c5-0b7c-4cb7-baed-e4c564cf311a",
      "name": "🧠 DeepSeek Chat Model",
      "type": "n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -109024,
        -4176
      ],
      "credentials": {
        "deepSeekApi": {
          "id": "NXItNfVcOMfUJ3kd",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5492b584-325e-47d0-9f12-d016db88252f",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7.5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2974557b-8c82-4955-9a50-dab7a9551f76",
      "name": "🔝 第一关: 高度符合 (≥7.5)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -108144,
        -4384
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "39ee7030-f79a-8071-a8ef-dfa9a1ecba1a",
          "mode": "list",
          "cachedResultName": "Job Recommendations",
          "cachedResultUrl": "https://app.notion.com/p/39ee7030f79a8071a8efdfa9a1ecba1a"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job Title|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "Company|rich_text",
              "textContent": "={{ $json.company }}"
            },
            {
              "key": "Location|select",
              "selectValue": "={{ $json.location.split(',')[0].trim() }}"
            },
            {
              "key": "Industry|select",
              "selectValue": "={{ $json.industry }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $json.score }}"
            },
            {
              "key": "Link|url",
              "urlValue": "={{ $json.link }}"
            },
            {
              "key": "Posted|date",
              "date": "={{ $json.postedTime || $now }}"
            },
            {
              "key": "Match Reason|rich_text",
              "textContent": "={{ $json.reason }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb2452dc-abd4-4f8a-8c4a-6cb8f11316e9",
      "name": "📝 Notion: ⭐ 高度符合",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -107920,
        -4480
      ],
      "credentials": {
        "notionApi": {
          "id": "tcd5imju5iIX4ZPN",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "29c2c5c2-8e16-4c80-98eb-65aeab365ba4",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef90df83-1c73-4b17-944f-dfe36c628d71",
      "name": "🔝 第二关: 可以尝试 (≥6)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -107696,
        -4336
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "39ee7030-f79a-8071-a8ef-dfa9a1ecba1a",
          "mode": "list",
          "cachedResultName": "Job Recommendations",
          "cachedResultUrl": "https://app.notion.com/p/39ee7030f79a8071a8efdfa9a1ecba1a"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job Title|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "Company|rich_text",
              "textContent": "={{ $json.company }}"
            },
            {
              "key": "Location|select",
              "selectValue": "={{ $json.location.split(',')[0].trim() }}"
            },
            {
              "key": "Industry|select",
              "selectValue": "={{ $json.industry }}"
            },
            {
              "key": "Score|number",
              "numberValue": "={{ $json.score }}"
            },
            {
              "key": "Link|url",
              "urlValue": "={{ $json.link }}"
            },
            {
              "key": "Posted|date",
              "date": "={{ $json.postedTime || $now }}"
            },
            {
              "key": "Match Reason|rich_text",
              "textContent": "={{ $json.reason }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7095c130-c90d-401c-9e5a-e239fc25a929",
      "name": "📝 Notion: 💪 可以尝试",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -107488,
        -4336
      ],
      "credentials": {
        "notionApi": {
          "id": "tcd5imju5iIX4ZPN",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a6ac6ea2-36b7-4490-8178-3cbbb9dea6af",
      "name": "⏭️ 跳过不适合 (<6)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -107264,
        -4208
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text || $json.output || $json.response || JSON.stringify($json);\nlet scoreData;\ntry { scoreData = JSON.parse(raw); }\ncatch(e) {\n  try { const m = raw.match(/\\{[\\s\\S]*\\}/); if (m) scoreData = JSON.parse(m[0]); }\n  catch(e2) { scoreData = {}; }\n}\n\nif (!scoreData || !scoreData.score) {\n  scoreData = { score:{overall:50}, recommendation:'不适合', industry:'Other', reason:'解析失败', _meta:{} };\n}\n\nconst s = scoreData.score || {};\nconst overall = s.overall !== undefined ? s.overall : 50;\n\nconst meta = scoreData._meta || {};\nconst title = meta.title || $json.title || '';\nconst company = meta.company || $json.company || '';\nconst link = meta.link || $json.link || '';\nconst location = meta.location || $json.location || '';\nconst postedTime = meta.postedTime || $json.postedTime || new Date().toISOString();\nconst jobId = meta.jobId || $json.jobId || '';\n\nlet r = scoreData.recommendation || '';\nif (!r) {\n  if (overall >= 75) r = '高度符合';\n  else if (overall >= 60) r = '可以尝试';\n  else r = '不适合';\n}\n\nlet ml = '';\nif (r === '高度符合') ml = '⭐ 高度符合';\nelse if (r === '可以尝试') ml = '💪 可以尝试';\nelse ml = '❌ 不适合';\n\n// 修复：overall/10 而不是 Math.round(overall/10)/10\nconst displayScore = Math.round(overall) / 10;\n\nreturn [{ jobId, title, company, location, link,\n  description: $json.description || '',\n  postedTime, score: displayScore,\n  recommendation: r, matchLevel: ml,\n  reason: scoreData.reason || '',\n  industry: scoreData.industry || 'Other',\n  skillMatch: s.skills_overlap ? Math.round(s.skills_overlap/2.5) : 5,\n  industryMatch: s.background_match || 5,\n  levelMatch: s.seniority || 5,\n  locationMatch: s.location_match || 5,\n  languageMatch: s.language_requirement || 5\n}];"
      },
      "id": "f0cdb27d-6e68-471f-9473-49d4f343e486",
      "name": "📊 解析评分结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -108800,
        -4384
      ]
    },
    {
      "parameters": {
        "jsCode": "// 所有岗位打分完毕，排序+去重+Top15\nconst items = $input.all();\nitems.sort((a, b) => (b.json.score || 0) - (a.json.score || 0));\nreturn items.slice(0, 10).map(i => i.json);"
      },
      "id": "b91c112a-5c97-4924-9f39-4d7bcb785be2",
      "name": "📊 排序+Top10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -108576,
        -4384
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bc9b2fad-811d-4a0d-b382-3600ed074bab",
      "name": "🔄 逐条写入Notion",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -108368,
        -4384
      ]
    },
    {
      "parameters": {
        "fileSelector": "./cv/CV.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -111216,
        -4384
      ],
      "id": "176484f3-9007-4991-8418-6d035ffc05d9",
      "name": "📄 读取 CV.pdf"
    }
  ],
  "pinData": {},
  "connections": {
    "🔍 搜索参数配置": {
      "main": [
        [
          {
            "node": "🌐 抓取 LinkedIn 岗位",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 逐岗位处理": {
      "main": [
        [
          {
            "node": "✍️ 准备打分 Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📊 排序+Top10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 抓取 LinkedIn 岗位": {
      "main": [
        [
          {
            "node": "📋 解析岗位列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 解析岗位列表": {
      "main": [
        [
          {
            "node": "✂️ 拆分岗位条目",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 LLM Chain - 匹配打分",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "✂️ 拆分岗位条目": {
      "main": [
        [
          {
            "node": "🔄 逐岗位处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ 准备打分 Prompt": {
      "main": [
        [
          {
            "node": "🧠 LLM Chain - 匹配打分",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 LLM Chain - 匹配打分": {
      "main": [
        [
          {
            "node": "📊 解析评分结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 解析评分结果": {
      "main": [
        [
          {
            "node": "🔄 逐岗位处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔝 第一关: 高度符合 (≥7.5)": {
      "main": [
        [
          {
            "node": "📝 Notion: ⭐ 高度符合",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔝 第二关: 可以尝试 (≥6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔝 第二关: 可以尝试 (≥6)": {
      "main": [
        [
          {
            "node": "📝 Notion: 💪 可以尝试",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏭️ 跳过不适合 (<6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 逐条写入Notion": {
      "main": [
        [
          {
            "node": "🔝 第一关: 高度符合 (≥7.5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Notion: ⭐ 高度符合": {
      "main": [
        [
          {
            "node": "🔄 逐条写入Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Notion: 💪 可以尝试": {
      "main": [
        [
          {
            "node": "🔄 逐条写入Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏭️ 跳过不适合 (<6)": {
      "main": [
        [
          {
            "node": "🔄 逐条写入Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ 每日定时触发": {
      "main": [
        [
          {
            "node": "📄 读取 CV.pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 提取 PDF 文本": {
      "main": [
        [
          {
            "node": "📄 结构化 CV 文本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 结构化 CV 文本": {
      "main": [
        [
          {
            "node": "🔍 搜索参数配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📄 读取 CV.pdf": {
      "main": [
        [
          {
            "node": "📄 提取 PDF 文本",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ce9a7156-7a39-4678-b14b-d4ef94fe1108",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f9583a2878b9913846bae1d3c63adcc29894a195e5c2e8b215d593672edcd790"
  },
  "nodeGroups": [],
  "id": "CITsvLWCfUkmDEsT",
  "tags": []
}